<ion-header [translucent]="true">
  <ion-toolbar color="ine">
    <ion-title class="ion-text-center">
      Candidatos a votacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center" color="ine">

  <ion-item>
    <ion-card button (click)="cardClick()">
      <ion-img [src]="'http://placekitten.com/g/100/150'"></ion-img>
    </ion-card>
    <ion-card button (click)="cardClick()">
      <ion-img [src]="'http://placekitten.com/g/100/150'"></ion-img>
    </ion-card>
    <ion-card button (click)="cardClick()">
      <ion-img [src]="'http://placekitten.com/g/100/150'"></ion-img>
    </ion-card>
  </ion-item>

  <ion-item>
    <ion-card button (click)="cardClick()">
      <ion-img [src]="'http://placekitten.com/g/100/150'"></ion-img>
    </ion-card>
    <ion-card button (click)="cardClick()">
      <ion-img [src]="'http://placekitten.com/g/100/150'"></ion-img>
    </ion-card>
    <ion-card button (click)="cardClick()">
      <ion-img [src]="'http://placekitten.com/g/100/150'"></ion-img>
    </ion-card>
  </ion-item>

  <ion-item>
    <ion-card button (click)="cardClick()">
      <ion-img [src]="'http://placekitten.com/g/100/150'"></ion-img>
    </ion-card>
    <ion-card button (click)="cardClick()">
      <ion-img [src]="'http://placekitten.com/g/100/150'"></ion-img>
    </ion-card>
    <ion-card button (click)="cardClick()">
      <ion-img [src]="'http://placekitten.com/g/100/150'"></ion-img>
    </ion-card>
  </ion-item>
</ion-content>